.container{
    display: flex;
    flex-direction: column;
}
#menu *{
    display: inline;
}
#menu li{
    margin: 35px;
}
#menu a{
    color: #58595b;
    text-decoration: none;
}
#menu{
    font-size: 20px;
    font-style: italic;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}


/* menu-home */
.content{
    background-size: cover;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 130px;
}
.me_img{
    border-radius: 30%;               
}
.first{
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
.me{
    margin-top: 80px;
    /* background-color: #58595b; #eeeeee */
} 

.lists{
    margin: 0 auto;
    padding-right: 0;
    width: 75%;
}
.list{
    border-top: 1px solid CornflowerBlue;
    list-style: none;
    /* margin: 50px 0px; */
    padding-bottom: 60px;
}


/* menu-about */
.me_two{
    border-radius: 30%;
    float: left;
    margin-right: 50px;
    margin-bottom: 100px;
    
}
.intext{
    text-align: center;
    padding-bottom: 130px;
}
.text{
    text-align: justify;
    margin-left: 280px;
    margin-right: 100px;
    line-height: 30px;
}

/* menu-like */
.like_img{
width: 200px;
height: 200px;
/* display: block; */
margin: 10px;
/* margin-bottom: 50px; */
}
.like{
    display: flex;
    justify-content: center;
    
}
.likes{
    text-align: center;            
    display: block;    
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    font-style: italic;
    margin: 0 auto;        
}


/* menu-skill */
*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    
}
/* html, body{
    place-items: center;
} */
.skills-bar{
    width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
    margin-bottom: 80px;             
}
.skills-bar .bar{
    margin: 20px 0;
}
.skills-bar .bar:first-child{
    margin-top: 0px;
}
.skills-bar .bar .info{
    margin-bottom: 5px;
}

.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
}
.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;                
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05), 
                      0px 1px rgba(255,255,255,0.8);
}
.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: CornflowerBlue;
    position: absolute;
    border-radius: 10px;
}
.progress-line.html span{
    width: 68%;
}
.progress-line.css span{
    width: 55%;
}
.progress-line.js span{
    width: 60%;
}
.progress-line.python span{
    width: 60%;
}



.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}
.bar .progress-line span::after{
    position: absolute;
    
    right: 0;
    top: -26px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background-color: #000;
    padding: 1px 8px;
    border-radius: 3px;
}
.progress-line.html span::after{
    content: "68%";
}
.progress-line.css span::after{
    content: "55%";
}
.progress-line.js span::after{
    content: "60%";
}
.progress-line.python span::after{
    content: "60%";
}